<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce</title>
  <link rel="stylesheet" href="../../static/css/style.css">
  <script src="../../api"></script> <!-- script.js-->
</head>
<body>
  <header>
    <ul>
      <li>HOME</li>
      <li>NEW IN</li>
      <li>SHOP ALL</li>
      <li>LOOKBOOK</li>
    </ul>
    <img src="" alt="LOGO DO SITE">
    <ul>
      <li><i></i></li>
      <li><i></i></li>
      <li><i></i></li>
    </ul>
  </header>
  <main>

  </main>
</body>
</html>