.header-element {
  width: 100%;
  background: white;
  height: 100px;
  position: fixed;
  top: 0;
}

.header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-height: 40px;
  margin-bottom: 10px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: start;
}

.user-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu li a {
  text-decoration: none;
  padding: 10px 10px;
  color: #aaa;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  transition: 0.5s;
}

.menu li {
  list-style: none;
}

.menu li:hover {
  cursor: pointer;
  color: #000;
}

.user-menu li{
  list-style: none;
  padding: 10px 15px;
  color: #000;
  font-size: 20px;
  transition: 0.3s
}

.user-menu li i  {
  color: #000;
}

.user-menu li:hover {
  font-size: 21px;
  cursor: pointer;
}