* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  min-width: 750px;
}

.background-home-img {
  background-image: url('/imgs/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 100px;
  width: 100%;
  aspect-ratio: 16 / 9;
  max-height: 700px;
}

.home-text-content {
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
  padding: 50px;
  font-family: sans-serif;
}

.collection-title {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 15px;
}

.collection-text {
  font-size: 16px;
  font-weight: 600;
  color: #777;
  line-height: 24px;
  letter-spacing: 0.04rem;
  margin-bottom: 15px;
}

.home-collection-items-display {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.home-collection-item {
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: 30px 0;
  width: 300px;
}

.home-collection-item-image {
  background-image: url('/imgs/collection-umbro-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85%;
  width: 100%;
}

.home-collection-item-title {
  max-width: 100%;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.home-collection-item-title a {
  text-decoration: none;
  color: #777;
}

.home-collection-item-title a:hover {
  text-decoration: underline;
}

.home-collection-item-price {
  color: #777;
  font-size: 14px;
  margin-bottom: 5px;
}

.home-collection-item-sizes {
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
}

.home-button-all-items {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 70px;
  text-align: center;
}

.home-button-collection-all-items {
  width: 150px;
  height: 50px;
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  padding: 5px;
  font-size: 16px;
  border: none;
}

@media(max-width: 700px) {
  body {
    min-width: 450px;
  }

  .home-collection-items-display {
    width: 100%;
  }

  .home-collection-item {
    width: 90%;
    max-width: 400px;
  }

  .home-text-content {
    padding: 15px;
  }
}