<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce</title>
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <script src="https://kit.fontawesome.com/813d899eeb.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('partials/header') %>
  <div id="background-home-img" class="background-home-img"></div>
  <section id="home-text-content" class="home-text-content">
    <h1 id="collection-title" class="collection-title">Umbro x Carnan - "Efeito Amuleto"</h1>
    <p id="collection-text" class="collection-text">A superstição do torcedor brasileiro nasce da crença de que gestos simbólicos podem moldar o destino em campo. O desejo de mudar a história atribui significado a objetos de forte valor sentimental. Esses amuletos, são mais do que gestos de fé, são a materialização da emoção e devoção do torcedor, em que cada rito tece a narrativa de um jogo que se desenha além das quatro linhas.</p>
    <div class="home-collection-items-display">
      <div class="home-collection-item">
        <div class="home-collection-item-image"></div>
        <h3 class="home-collection-item-title"><a href="">Carnan x Umbro Track Jacket</a></h3>
        <div class="home-collection-item-price">R$ 679,00</div>
        <div class="home-collection-item-sizes">PP/XS / P/S / M/M / G/L / GG/XL / GGG/XXL / GGGG/XXXL</div>
      </div>
      <div class="home-collection-item">
        <div class="home-collection-item-image"></div>
        <h3 class="home-collection-item-title"><a href="">Carnan x Umbro Track Jacket</a></h3>
        <div class="home-collection-item-price">R$ 679,00</div>
        <div class="home-collection-item-sizes">PP/XS / P/S / M/M / G/L / GG/XL / GGG/XXL / GGGG/XXXL</div>
      </div>

      <div class="home-collection-item">
        <div class="home-collection-item-image"></div>
        <h3 class="home-collection-item-title"><a href="">Carnan x Umbro Track Jacket</a></h3>
        <div class="home-collection-item-price">R$ 679,00</div>
        <div class="home-collection-item-sizes">PP/XS / P/S / M/M / G/L / GG/XL / GGG/XXL / GGGG/XXXL</div>
      </div>
      <div class="home-collection-item">
        <div class="home-collection-item-image"></div>
        <h3 class="home-collection-item-title"><a href="">Carnan x Umbro Track Jacket</a></h3>
        <div class="home-collection-item-price">R$ 679,00</div>
        <div class="home-collection-item-sizes">PP/XS / P/S / M/M / G/L / GG/XL / GGG/XXL / GGGG/XXXL</div>
      </div>
    </div>
  </section>
  <section>
    <div class="home-button-all-items">
      <button class="home-button-collection-all-items">Compre Agora</button>
    </div>
  </section>
  <%- include('partials/footer') %>
</body>
</html>