<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Produto</title>

  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/product.css">

  <script src="https://kit.fontawesome.com/813d899eeb.js" crossorigin="anonymous"></script>

</head>
<body>
  <%- include('partials/header') %>
  <form class="product-register" action="/product" method="POST">

    <label for="product-name">Product Name</label>
    <input type="text" name="name" id="product-name" required>
  
    <label for="product-image-link">URL</label>
    <input type="text" name="linkImage" id="product-image-link" required>

    <label for="product-price">Price</label>
    <input type="text" name="priceCents" id="product-price" required>

    <input type="submit" name="save-product-button" id="save-product-button">
  </form>
  <%- include('partials/footer') %>
</body>
</html>