<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>

  <link rel="stylesheet" href="css/register.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  
  <script src="https://kit.fontawesome.com/813d899eeb.js" crossorigin="anonymous"></script>

</head>
<body>
  <form action="/register" method=post></form>
</body>
</html>