<section>
  <footer class="footer-default-section">
    <div class="footer-main-content">
      <div class="footer-pages-options">
        <ul>
          <li><a href="/home">HOME</a></li>
          <li><a href="">SHOP</a></li>
          <li><a href="">TROCAS E DEVOLUÇÕES</a></li>
        </ul>
      </div>
      <div class="footer-shop-options">
        <ul>
          <li><a href="">SOBRE</a></li>
          <li><a href="">CONTATO</a></li>
          <li><a href="">TERMOS DE USO</a></li>
        </ul>
      </div>
      <div class="footer-fisical-address">
        <ul>
          <li><a href="">LOJA FÍSICA</a></li>
          <li><a href="">Terca á Sexta 11h30 - 19h</a></li>
          <li><a href="">Sábado 11h30 - 18h</a></li>
          <li><a href="">Rua Cônego Eugênio Leite, 932</a></li>
          <li><a href="">Pinheiros, SP</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-shop-infos">
      <p>© CARNAN. CNPJ: 00.000.000/0000-00</p>
      <p><i class="fa-brands fa-instagram"></i>CARNAN</p>
    </div>
  </footer>
</section>