<header id="header-element" class="header-element">
  <div id="header-content" class="header-content">
    <ul class="menu">
      <li><a href="/home">HOME</a></li>
      <li><a>NEW IN</a></li>
      <li><a>SHOP ALL</a></li>
      <li><a>STANDARD</a></li>
      <li><a>LOOKBOOK</a></li>
    </ul>
    
    <img id="logo" class="logo" src="imgs/logo.png" alt="Logo loja">

    <ul class='user-menu'>
      <li><i class="fa-solid fa-magnifying-glass"></i></li>
      <li><a href="/login"><i class="fa-solid fa-user"></i></a></li>
      <li><i class="fa-solid fa-bag-shopping"></i></li>
    </ul>
  </div>
</header>