<header id="header-element" class="header-element">
  <div id="header-content" class="header-content">
    <ul class="menu">
      <li>HOME</li>
      <li>NEW IN</li>
      <li>SHOP ALL</li>
      <li>STANDARD</li>
      <li>LOOKBOOK</li>
    </ul>
    
    <img id="logo" class="logo" src="imgs/logo.png" alt="Logo loja">

    <ul class='user-menu'>
      <li><i class="fa-solid fa-magnifying-glass"></i></li>
      <li><i class="fa-solid fa-user"></i></li>
      <li><i class="fa-solid fa-bag-shopping"></i></li>
    </ul>
  </div>
</header>